In [8]:
import pymysql
#import DataFrame
from datetime import timedelta,datetime
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
connection ={
    'host': 'ENV-VAR',
    'username': 'ENV-VAR',
    'password': 'ENV-VAR,
    'db': 'ENV-VAR'
}

In [10]:
#creating a connection
con=pymysql.connect(connection['host'],connection['username'],connection['password'],connection['db'])

In [11]:
#creating a cursor
cursor=con.cursor()
input_table = "SELECT customerUUID AS customer_id, DATE(pointAccumulationDate) AS trans_date, amount AS tran_amount FROM customerPointAccumulation;"
cursor.execute(input_table)
result= cursor.fetchall()


# to print and see
#for row in result:
    #print(row)
    #print("\n")

In [12]:
#get column headers printed
sales1 = pd.read_sql(input_table,con)
sales = pd.read_sql(input_table,con)
sales.columns

Index(['customer_id', 'trans_date', 'tran_amount'], dtype='object')

In [13]:
#get number of rows and columns in the input table

print('{:,} rows; {:,} columns'.format(sales.shape[0], sales.shape[1]))

15 rows; 3 columns

In [14]:
#data cleaning ie., get how many invoices without customer id

print('{:,} invoices don\'t have a customer id'.format(sales[sales.customer_id.isnull()].shape[0]))

0 invoices don't have a customer id

In [15]:
#if we need to remove data of customers without customerid

#sales.dropna(subset=['customer_id'], inplace=True)

In [16]:
#to get the date range of existing customerTransactionHistory

print('Orders from {} to {}'.format(sales['trans_date'].min(),sales['trans_date'].max()))

Orders from 2019-10-22 to 2019-10-29

In [17]:
#get todays date as reference
#now=datetime.now()
#print(now)

In [18]:
NOW = sales['trans_date'].max() + timedelta(days=1)
NOW

datetime.date(2019, 10, 30)

In [19]:
period = 365

In [20]:
#adding column 'days in between' to calculate number of days from date of transaction 

sales['daysinbetween'] = sales['trans_date'].apply(lambda x: (NOW - x).days)

In [21]:
print(sales)

                             customer_id  trans_date  tran_amount  \
0   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-22       5000.0
1   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-22       1000.0
2   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-22       2000.0
3   beec8873-3b07-4a9c-b34d-5535b58fa09a  2019-10-22       3000.0
4   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-24       5000.0
5   e164eec3-e557-48f0-ba22-3618d06fe6cc  2019-10-25       8000.0
6   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       1500.0
7   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       1500.0
8   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       1500.0
9   9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       2000.0
10  9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       1000.0
11  9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       1000.0
12  9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       4000.0
13  9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       3000.0
14  9985950c-2849-4c5a-b32b-87763b57d9b0  2019-10-29       3000.0

    daysinbetween
0               8
1               8
2               8
3               8
4               6
5               5
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              1
14              1

In [22]:
aggr = {
    'daysinbetween': lambda x: x.min(),  # the number of days since last order (Recency)
    'trans_date': lambda x: len([d for d in x if d >= NOW - timedelta(days=period)]), # the total number of orders in the last period (Frequency)
}
rfm = sales.groupby('customer_id').agg(aggr).reset_index()
rfm.rename(columns={'daysinbetween': 'Recency', 'trans_date': 'Frequency'}, inplace=True)
rfm.head()

                            customer_id  Recency  Frequency
0  9985950c-2849-4c5a-b32b-87763b57d9b0        1         13
1  beec8873-3b07-4a9c-b34d-5535b58fa09a        8          1
2  e164eec3-e557-48f0-ba22-3618d06fe6cc        5          1

In [23]:
rfm['Monetary'] = rfm['customer_id'].apply(lambda x: sales[(sales['customer_id'] == x) & \
                                                           (sales['trans_date'] >= NOW - timedelta(days=period))]\
                                                           ['tran_amount'].sum())
rfm.head()

                            customer_id  Recency  Frequency  Monetary
0  9985950c-2849-4c5a-b32b-87763b57d9b0        1         13   31500.0
1  beec8873-3b07-4a9c-b34d-5535b58fa09a        8          1    3000.0
2  e164eec3-e557-48f0-ba22-3618d06fe6cc        5          1    8000.0

In [24]:
quintiles = rfm[['Recency', 'Frequency', 'Monetary']].quantile([.2, .4, .6, .8]).to_dict()
quintiles

{'Recency': {0.2: 2.6, 0.4: 4.2, 0.6: 5.6, 0.8: 6.800000000000001},
 'Frequency': {0.2: 1.0,
  0.4: 1.0,
  0.6: 3.3999999999999995,
  0.8: 8.200000000000001},
 'Monetary': {0.2: 5000.0,
  0.4: 7000.0,
  0.6: 12699.999999999998,
  0.8: 22100.000000000004}}

In [25]:
def r_score(x):
    if x <= quintiles['Recency'][.2]:
        return 5
    elif x <= quintiles['Recency'][.4]:
        return 4
    elif x <= quintiles['Recency'][.6]:
        return 3
    elif x <= quintiles['Recency'][.8]:
        return 2
    else:
        return 1
    
def fm_score(x, c):
    if x <= quintiles[c][.2]:
        return 1
    elif x <= quintiles[c][.4]:
        return 2
    elif x <= quintiles[c][.6]:
        return 3
    elif x <= quintiles[c][.8]:
        return 4
    else:
        return 5

In [26]:
rfm['R'] = rfm['Recency'].apply(lambda x: r_score(x))
rfm['F'] = rfm['Frequency'].apply(lambda x: fm_score(x, 'Frequency'))
rfm['M'] = rfm['Monetary'].apply(lambda x: fm_score(x, 'Monetary'))

In [27]:
rfm['RFM Score'] = rfm['R'].map(str) + rfm['F'].map(str) + rfm['M'].map(str)
rfm.head()

,customer_id,Recency,Frequency,Monetary,R,F,M,RFM Score
0,9985950c-2849-4c5a-b32b-87763b57d9b0,1,13,31500.0,5,5,5,555
1,beec8873-3b07-4a9c-b34d-5535b58fa09a,8,1,3000.0,1,1,1,111
2,e164eec3-e557-48f0-ba22-3618d06fe6cc,5,1,8000.0,3,1,3,313